.booksLayoutContainer{
    width: 70%;
    height: 910px;
    position: relative;
    left: 14%;
    top: 30%;
}
.searchBar{
    width: 60%;
    height: 50%;
    margin-top: 1%;
}
.buttonSearch{
    width: 10%;
    height: 40%;
    position: relative;
    top: 15%;
    right: 1%;
    padding-left: 3.2%;
    padding-bottom: 2.7%;
    border-radius: 10px;
}
.searchBarDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10%;
    width: 85%;
    position: relative;
    left: 8%;
    top: 10%;
}
.sortBar{
    position: relative;
    right: 2%;
    top: 10%;
    height: 60%;
    width: 20%;
}
.title{
    text-align: center;
    position: relative;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 20%;
}
.title h1{
    font-size: 60px;
    line-height: 90px;
    color: #943E3E;
}
.title h3{
    font-size: 40px;
    color: #AC7C7C;
    font-weight: lighter;
}

@media only screen and (max-width: 1200px){
    .booksLayoutContainer{
        width: 70%;
    }
    .title h1{
        font-size: 50px;
    }
    .title h3{
        font-size: 30px;
    }
}

@media only screen and (max-width: 650px){
    .searchBarDiv{
        width: 90%;
    }
}

@media only screen and (max-width: 650px){
    .searchBarDiv{
        width: 90%;
    }
}

@media only screen and (max-width: 430px){
    .booksLayoutContainer{
        width: 40%;
    }
    .title h1{
        font-size: 40px;
    }
    .title h3{
        font-size: 20px;
    }
    .searchBarDiv{
        width: 50%;
    }
}