.booksLayoutContainer{
    width: 70%;
    height: 907px;
    /* border: 1px solid black; */
    position: relative;
    left: 15%;
    top: 30%;
}
.searchBar{
    width: 60%;
    height: 50%;
    margin-top: 1%;
}
.buttonSearch{
    width: 15%;
    height: 40%;
    position: relative;
    right: 3%;
    top: 12%;
    padding-left: 4.5%;
    padding-top: 1.5%;
    border-radius: 10px;
}
.searchBarDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 10%;
    width: 50%;
    position: relative;
    left: 24%;
    top: 10%;
}