.booksWidgetContainer{
    position: relative;
    top: 15%;
    width: 100%;
}

thead{
    text-align: center;
}

.booksWidgetContainer table thead tr th {
    background-color: #F2EAEA;
}
.noFound{
    text-align: center;
    color: #943E3E;
}